@media (min-width: 768px) {
  .col-sm-p20 {
    float: left;
    width: 20%; }

  .col-sm-p80 {
    float: left;
    width: 80%; }

  .col-sm-p60 {
    float: left;
    width: 60%; } }
.js-progress-bar .st-menu, .js-progress-bar .st-menu-right, .js-progress-bar #page {
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: none; }

.page-boxed {
  padding: 0 15px;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 50px;
  max-width: 100%; }
  @media (min-width: 768px) {
    .page-boxed {
      max-width: 780px; } }
  @media (min-width: 992px) {
    .page-boxed {
      max-width: 1000px; } }
  @media (min-width: 1200px) {
    .page-boxed {
      max-width: 1230px; } }

#top_column {
  padding-top: 20px; }

#bottom_column {
  padding-bottom: 20px; }

@media (max-width: 767px) {
  .show-left-column .left_center {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse; }

  #left_column, #right_column {
    margin-top: 20px; } }
/* Header */
.header-order-detail {
  overflow: hidden;
  height: 100px;
  text-align: center;
  padding-right: 15px; }
  .header-order-detail p {
    margin: 0; }
  .header-order-detail .free-ship-text {
    line-height: 28px;
    font-size: 14px;
    margin-top: 20px;
    color: #3f6e51; }
  .header-order-detail .phone-number {
    font-weight: bold;
    font-size: 17px;
    padding-top: 6px; }
  @media (max-width: 991px) {
    .header-order-detail {
      display: none; } }

.header-services {
  clear: both;
  padding: 10px 0; }
  .header-services ul {
    margin: 0;
    overflow: hidden; }
    .header-services ul > li {
      float: left;
      width: 25%;
      padding: 6px 10px;
      text-align: center;
      font-size: 95%;
      text-transform: uppercase;
      border-left: 1px solid #c7c7c7; }
      .header-services ul > li:first-child {
        border: none; }
      .header-services ul > li .icon, .header-services ul > li [class^="icon-"] {
        font-size: 16px;
        margin-right: 8px;
        color: #fd6282; }
      @media (max-width: 991px) {
        .header-services ul > li {
          width: 50%; }
          .header-services ul > li:nth-child(3) {
            border: none; } }
  @media (max-width: 767px) {
    .header-services {
      display: none; } }

.header-custom-links {
  padding: 15px 15px 0 40px;
  border-top: 1px dashed #c7c7c7; }
  .header-custom-links ul {
    margin: 0; }
    .header-custom-links ul li {
      margin-bottom: 15px; }
      .header-custom-links ul li .icon, .header-custom-links ul li [class^="icon-"] {
        margin-right: 4px;
        font-size: 14px;
        color: #fd6282; }

.header-sidebar-login {
  overflow: hidden;
  padding: 20px 15px 0 40px;
  border-top: 1px dashed #c7c7c7; }
  .header-sidebar-login ul {
    margin: 0; }
    .header-sidebar-login ul li {
      margin-bottom: 20px;
      float: left;
      line-height: 32px; }
      .header-sidebar-login ul li .icon, .header-sidebar-login ul li [class^="icon-"] {
        margin-right: 4px;
        font-size: 14px;
        color: #fd6282; }
      .header-sidebar-login ul li a.account {
        padding: 0 10px;
        line-height: 28px;
        display: inline-block;
        border: 2px solid;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px; }
      .header-sidebar-login ul li a.logout {
        margin-left: 20px; }

.zmenu-nav {
  padding: 15px 15px 0 25px;
  border-top: 1px solid #c7c7c7; }
  .zmenu-nav .root {
    margin-bottom: 15px; }
    .zmenu-nav .root > li {
      margin: 5px 0;
      position: relative; }
      .zmenu-nav .root > li > a {
        position: relative;
        line-height: 28px;
        font-size: 14px; }
        .zmenu-nav .root > li > a:before {
          content: "";
          width: 8px;
          height: 8px;
          margin-right: 8px;
          border: 1px solid #c7c7c7;
          display: inline-block;
          -moz-border-radius: 50%;
          -webkit-border-radius: 50%;
          border-radius: 50%; }
        .zmenu-nav .root > li > a:hover:before {
          border-color: #fd6282;
          background-color: #fd6282; }
        .zmenu-nav .root > li > a > sup {
          top: -8px;
          line-height: 15px;
          padding: 0 3px;
          font-weight: normal;
          text-transform: uppercase;
          background-color: #3f6e51;
          color: #ffffff;
          font-size: 10px;
          letter-spacing: 0px;
          display: inline-block; }
    .zmenu-nav .root .grower {
      display: block;
      position: absolute;
      right: 0;
      top: 5px;
      cursor: pointer;
      font-family: "FontAwesome";
      font-size: 10px;
      font-weight: 400; }
      .zmenu-nav .root .grower:before {
        content: "\f067";
        display: block;
        vertical-align: middle;
        width: 20px;
        height: 20px;
        line-height: 20px;
        text-align: center; }
      .zmenu-nav .root .grower.minus:before {
        content: "\f068"; }
    .zmenu-nav .root .dropdown-categories {
      display: none;
      margin-left: 15px;
      padding-left: 10px;
      border-left: 1px solid #c7c7c7; }
      .zmenu-nav .root .dropdown-categories > li {
        padding: 3px;
        position: relative; }
      .zmenu-nav .root .dropdown-categories .dropdown-categories {
        margin-left: 0; }
  .zmenu-nav.nav-megamenu {
    padding-left: 15px; }
    .zmenu-nav.nav-megamenu .znav-top {
      display: block;
      margin-bottom: 15px; }
      .zmenu-nav.nav-megamenu .znav-top > li {
        margin: 5px 0;
        float: none;
        position: relative; }
        .zmenu-nav.nav-megamenu .znav-top > li > a {
          font-size: 14px;
          padding: 2px 0;
          color: inherit; }
          .zmenu-nav.nav-megamenu .znav-top > li > a:hover {
            color: #fd6282; }
          .zmenu-nav.nav-megamenu .znav-top > li > a:after {
            display: none; }
        .zmenu-nav.nav-megamenu .znav-top > li:hover a {
          background: none; }
      .zmenu-nav.nav-megamenu .znav-top .mobile-toggle-plus {
        display: none;
        font-size: 10px;
        font-weight: normal;
        right: -10px; }
        .zmenu-nav.nav-megamenu .znav-top .mobile-toggle-plus:before {
          width: 28px;
          height: 28px;
          line-height: 28px; }
      .zmenu-nav.nav-megamenu .znav-top .link-toggle-plus .mobile-toggle-plus {
        display: block; }
      .zmenu-nav.nav-megamenu .znav-top .dropdown {
        position: static;
        box-shadow: none;
        padding: 5px 0;
        border-radius: 5px;
        opacity: 1;
        visibility: visible;
        display: none; }
        .zmenu-nav.nav-megamenu .znav-top .dropdown .category-item, .zmenu-nav.nav-megamenu .znav-top .dropdown .product-item, .zmenu-nav.nav-megamenu .znav-top .dropdown .manufacturer-item {
          float: none;
          padding-top: 10px; }
        .zmenu-nav.nav-megamenu .znav-top .dropdown .product-item .product_img_link img {
          max-width: 120px; }

header .header-event-banner {
  text-align: center;
  background: #f9f2e8; }
  header .header-event-banner .container {
    position: relative; }
  header .header-event-banner p {
    margin: 0;
    padding: 9px 0; }
  header .header-event-banner a {
    color: inherit;
    border-bottom: 1px solid; }
  header .header-event-banner .close-banner {
    position: absolute;
    right: 15px;
    bottom: 8px;
    cursor: pointer; }
    header .header-event-banner .close-banner:after {
      font-family: "FontAwesome";
      content: "\f00d";
      font-size: 15px; }
header .main-header {
  width: 100%;
  position: relative;
  z-index: 2;
  padding-bottom: 50px; }
  @media (max-width: 767px) {
    header .main-header {
      padding-bottom: 0; } }
header .header-element {
  float: left;
  margin-right: 10px;
  height: 80px;
  line-height: 80px;
  position: relative; }
header .header-element-right {
  float: right;
  margin-left: 10px;
  margin-right: 0; }
header .header-login .icon-user {
  font-size: 17px; }
header .header-login .account {
  display: block;
  padding: 0px 10px;
  border: 2px solid;
  height: 34px;
  line-height: 32px;
  margin-top: 23px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  transition: all 0.3s; }
header .header-wishlist a {
  display: block;
  text-align: center;
  border: 2px solid;
  width: 34px;
  height: 34px;
  line-height: 34px;
  margin-top: 23px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  transition: all 0.3s; }
  header .header-wishlist a .icon {
    font-size: 15px;
    line-height: 30px; }
header .header-search .search-icon {
  text-align: center;
  cursor: pointer;
  font-size: 0;
  display: block;
  width: 30px;
  height: 32px;
  line-height: 32px;
  margin-top: 22px;
  background: #ffffff;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  transition: all 0.3s; }
  header .header-search .search-icon:before {
    font-family: "FontAwesome";
    content: "\f002";
    font-size: 17px; }
header .header-left-nav {
  font-size: 0;
  position: absolute;
  bottom: 0;
  z-index: 21;
  left: auto;
  display: none; }
  header .header-left-nav .nav-icon {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    background: #ffffff;
    cursor: pointer;
    transition: all 0.3s; }
    header .header-left-nav .nav-icon:before {
      font-family: "FontAwesome";
      content: "\f0c9";
      font-size: 21px;
      cursor: pointer; }
      @media (max-width: 767px) {
        header .header-left-nav .nav-icon:before {
          font-size: 28px; } }
    header .header-left-nav .nav-icon:hover {
      background: #ffffff; }
  @media (max-width: 767px) {
    header .header-left-nav {
      display: block;
      position: inherit;
      float: left; }
      header .header-left-nav .nav-icon {
        width: auto;
        height: 80px;
        line-height: 80px;
        background: none;
        border: none; } }

header.sidebar-menu .header-left-nav {
  display: block; }
header.sidebar-menu #languages-block-top, header.sidebar-menu #currencies-block-top {
  display: none !important; }

header.sidebar-minicart #currencies-block-top {
  display: none !important; }

.zmega-menu.affix + .header-left-nav {
  position: fixed;
  top: 0;
  bottom: auto; }

.st-menu-open header .main-header.affix {
  overflow-y: scroll; }

.affix-placeholder {
  transition: all 0.3s; }

header .main-header.affix {
  top: 0;
  z-index: 20;
  position: fixed;
  background: inherit;
  -moz-box-shadow: 0 1px 5px #c7c7c7;
  -webkit-box-shadow: 0 1px 5px #c7c7c7;
  box-shadow: 0 1px 5px #c7c7c7; }
  header .main-header.affix + .affix-placeholder {
    height: 80px; }

@media (min-width: 768px) {
  .page-boxed header .zmega-menu.affix {
    max-width: 750px; } }
@media (min-width: 992px) {
  .page-boxed header .zmega-menu.affix {
    max-width: 970px; } }
@media (min-width: 1200px) {
  .page-boxed header .zmega-menu.affix {
    max-width: 1200px; } }

header .main-header.long-menu.affix .header-element {
  height: 0;
  line-height: 50px;
  opacity: 0;
  visibility: hidden; }
header .main-header.long-menu.affix .shopping_cart_wrapper, header .main-header.long-menu.affix .header-left-nav {
  position: absolute;
  height: 50px;
  opacity: 1;
  visibility: visible; }
header .main-header.long-menu.affix .shopping_cart_wrapper {
  right: 15px; }

/* Footer */
#footer .footer-main h3, #footer .footer-main h4 {
  color: #3d3d3d;
  margin: 0 0 15px;
  font-size: 20px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  letter-spacing: 1.8px; }
#footer .footer-top-left, #footer .footer-top-right {
  padding-top: 40px;
  padding-bottom: 20px; }
  @media (max-width: 767px) {
    #footer .footer-top-left, #footer .footer-top-right {
      padding-top: 20px; } }
#footer .footer-bottom {
  font-size: 12px;
  background: #f7f7f7; }
  #footer .footer-bottom .bottom-block {
    margin: 15px 0;
    line-height: 40px; }
    #footer .footer-bottom .bottom-block p {
      margin: 0; }
    #footer .footer-bottom .bottom-block img {
      max-width: 100%; }
    #footer .footer-bottom .bottom-block.payment {
      text-align: right; }
#footer .flex-block {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap; }
  @media (max-width: 767px) {
    #footer .flex-block {
      -webkit-justify-content: center;
      justify-content: center; } }
#footer .footer-block.footer-block-center {
  text-align: center; }
@media (min-width: 992px) {
  #footer .footer-block .about-us {
    padding-left: 7%; } }
@media (min-width: 768px) {
  #footer .footer-menu {
    padding-left: 5%; } }
#footer .footer-menu ul {
  list-style: none;
  margin-bottom: 20px; }
  #footer .footer-menu ul li {
    padding-bottom: 8px; }
    #footer .footer-menu ul li:before {
      font-family: "FontAwesome";
      content: "\f105";
      margin-right: 10px;
      font-size: 14px;
      display: inline-block; }
#footer .social-link {
  margin-top: 40px; }
  #footer .social-link .social-icons {
    margin-bottom: 0;
    margin-left: -5px; }
    #footer .social-link .social-icons li {
      padding-bottom: 10px;
      display: inline-block;
      padding-right: 5px;
      padding-left: 5px; }
    #footer .social-link .social-icons a {
      background-color: #f7f7f7;
      width: 44px;
      height: 44px;
      display: inline-block;
      line-height: 44px;
      text-align: center;
      font-size: 25px;
      border-radius: 5px; }
      #footer .social-link .social-icons a:hover, #footer .social-link .social-icons a:active, #footer .social-link .social-icons a:focus {
        background: #5a9e74;
        color: #ffffff; }
      #footer .social-link .social-icons a span {
        display: none; }
      #footer .social-link .social-icons a.facebook {
        color: #3b5998; }
        #footer .social-link .social-icons a.facebook:hover, #footer .social-link .social-icons a.facebook:active, #footer .social-link .social-icons a.facebook:focus {
          color: white;
          background-color: #3b5998; }
      #footer .social-link .social-icons a.twitter {
        color: #55acee; }
        #footer .social-link .social-icons a.twitter:hover {
          color: white;
          background-color: #55acee; }
      #footer .social-link .social-icons a.google-plus {
        color: #dd4b39; }
        #footer .social-link .social-icons a.google-plus:hover {
          color: white;
          background-color: #dd4b39; }
      #footer .social-link .social-icons a.pinterest {
        color: #cb2027; }
        #footer .social-link .social-icons a.pinterest:hover {
          color: white;
          background-color: #cb2027; }
      #footer .social-link .social-icons a.dribble {
        color: #ce1f21; }
        #footer .social-link .social-icons a.dribble:hover {
          color: white;
          background-color: #ce1f21; }
      #footer .social-link .social-icons a.flickr {
        color: #ff0084; }
        #footer .social-link .social-icons a.flickr:hover {
          color: white;
          background-color: #ff0084; }
      #footer .social-link .social-icons a.linkedin {
        color: #007bb5; }
        #footer .social-link .social-icons a.linkedin:hover {
          color: white;
          background-color: #007bb5; }
      #footer .social-link .social-icons a.vimeo {
        color: #aad450; }
        #footer .social-link .social-icons a.vimeo:hover {
          color: white;
          background-color: #aad450; }
      #footer .social-link .social-icons a.youtube {
        color: #bb0000; }
        #footer .social-link .social-icons a.youtube:hover {
          color: white;
          background-color: #bb0000; }
      #footer .social-link .social-icons a.tumblr {
        color: #32506d; }
        #footer .social-link .social-icons a.tumblr:hover {
          color: white;
          background-color: #32506d; }
      #footer .social-link .social-icons a.instagram {
        color: #125688; }
        #footer .social-link .social-icons a.instagram:hover {
          color: white;
          background-color: #125688; }
      #footer .social-link .social-icons a.rss {
        color: #ff6600; }
        #footer .social-link .social-icons a.rss:hover {
          color: white;
          background-color: #ff6600; }
#footer .newsletter {
  margin-bottom: 40px;
  overflow: hidden; }
  @media (min-width: 768px) {
    #footer .newsletter {
      padding-left: 5%; } }
@media (min-width: 768px) {
  #footer .about-us {
    padding-right: 7%; } }
#footer .about-us [class^="icon-"]:before {
  width: 20px;
  display: inline-block;
  color: #5a9e74; }
#footer .about-us img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  max-width: 100%;
  height: auto; }
#footer #block_contact_infos {
  border-left: 1px solid #515151; }
  @media (max-width: 767px) {
    #footer #block_contact_infos {
      border: none; } }
  #footer #block_contact_infos > div {
    padding: 0 0 0 5px; }
    @media (max-width: 767px) {
      #footer #block_contact_infos > div {
        padding-left: 0; } }
    #footer #block_contact_infos > div ul li {
      padding: 0 0 7px 4px;
      overflow: hidden;
      line-height: 30px; }
      #footer #block_contact_infos > div ul li > span,
      #footer #block_contact_infos > div ul li > span a {
        color: #ffffff;
        font-weight: normal; }
      #footer #block_contact_infos > div ul li i {
        font-size: 25px;
        width: 32px;
        text-align: center;
        padding-right: 12px;
        float: left;
        color: #908f8f; }
#footer .blockcategories_footer {
  clear: left; }
#footer #social_block {
  float: left;
  width: 50%;
  padding: 22px 15px 0 15px; }
  @media (max-width: 767px) {
    #footer #social_block {
      width: 100%;
      float: left;
      padding-top: 5px; } }
  #footer #social_block ul {
    float: right; }
    @media (max-width: 767px) {
      #footer #social_block ul {
        float: none; } }
    #footer #social_block ul li {
      float: left;
      width: 40px;
      text-align: center; }
      @media (min-width: 768px) and (max-width: 991px) {
        #footer #social_block ul li {
          width: 30px; } }
      #footer #social_block ul li a {
        display: inline-block;
        color: #908f8f;
        font-size: 28px; }
        @media (min-width: 768px) and (max-width: 991px) {
          #footer #social_block ul li a {
            font-size: 20px; } }
        #footer #social_block ul li a span {
          display: none; }
        #footer #social_block ul li a:before {
          display: inline-block;
          font-family: "FontAwesome";
          vertical-align: -5px;
          font-weight: normal;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale; }
        #footer #social_block ul li a:hover {
          color: #ffffff; }
      #footer #social_block ul li.facebook a:before {
        content: "\f09a"; }
      #footer #social_block ul li.twitter a:before {
        content: "\f099"; }
      #footer #social_block ul li.rss a:before {
        content: "\f09e"; }
      #footer #social_block ul li.youtube a:before {
        content: "\f167"; }
      #footer #social_block ul li.google-plus a:before {
        content: "\f0d5"; }
      #footer #social_block ul li.pinterest a:before {
        content: "\f0d2"; }
      #footer #social_block ul li.vimeo a:before {
        content: "\f194"; }
      #footer #social_block ul li.instagram a:before {
        content: "\f16d"; }
  #footer #social_block h4 {
    float: right;
    margin-bottom: 0;
    font-size: 21px;
    line-height: 25px;
    text-transform: none;
    padding: 0 10px 0 0; }
    @media (max-width: 767px) {
      #footer #social_block h4 {
        display: none;
        text-align: center; } }
#footer .bottom-footer {
  position: absolute;
  bottom: -55px;
  left: 0; }
  #footer .bottom-footer div {
    padding: 15px 0 0 0;
    border-top: 1px solid #515151;
    width: 100%; }
#footer .scroll-top {
  display: none;
  position: fixed;
  right: 15px;
  bottom: 30px;
  text-align: center;
  opacity: 0.5;
  -moz-border-radius: 50% 50% 5px 5px;
  -webkit-border-radius: 50%;
  border-radius: 50% 50% 5px 5px;
  transition: background 0.3s;
  z-index: 100; }
  #footer .scroll-top a {
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid;
    line-height: 36px;
    font-size: 25px;
    color: #ffffff;
    background: #fd6282;
    -moz-border-radius: 50% 50% 5px 5px;
    -webkit-border-radius: 50%;
    border-radius: 50% 50% 5px 5px; }
    #footer .scroll-top a i[class^="icon-"] {
      position: absolute;
      left: 0;
      right: 0;
      top: 10px;
      transition: all 0.3s; }
  #footer .scroll-top:hover {
    opacity: 1; }
    #footer .scroll-top:hover a {
      background: #3f6e51; }
    #footer .scroll-top:hover a i[class^="icon-"] {
      top: 6px; }

/* Tabs */
.nav-tabs {
  border: none;
  font-size: 0; }
  .nav-tabs > li {
    float: none;
    display: inline-block;
    margin-bottom: 0; }
    .nav-tabs > li > a {
      font: 700 25px/26px "Roboto Condensed", sans-serif;
      text-transform: uppercase;
      padding: 5px 40px;
      padding-left: 0;
      margin: 0;
      border: none;
      color: #3d3d3d;
      background: transparent;
      position: relative;
      z-index: 1;
      opacity: 0.5; }
      .nav-tabs > li > a:hover, .nav-tabs > li > a:focus {
        background: transparent;
        opacity: 1; }
    .nav-tabs > li.active > a {
      background: transparent;
      color: #3d3d3d;
      border: none;
      opacity: 1; }
      .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
        border: none;
        color: #3d3d3d;
        background: none; }
    @media (max-width: 767px) {
      .nav-tabs > li {
        width: 100%; } }

.tab-content {
  margin-bottom: 0; }

.ztabs {
  margin-bottom: 40px; }
  .ztabs .nav-tabs {
    text-align: center; }
    @media (max-width: 767px) {
      .ztabs .nav-tabs {
        text-align: left; } }

.column .ztabs {
  margin-bottom: 20px; }
.column .nav-tabs {
  border: 1px solid #c7c7c7;
  -moz-border-radius: 5px 5px 0 0;
  -webkit-border-radius: 5px;
  border-radius: 5px 5px 0 0;
  overflow: hidden; }
  .column .nav-tabs > li {
    width: 50%;
    text-align: center; }
    .column .nav-tabs > li > a {
      font-size: 17px;
      padding: 10px 15px; }
    @media (min-width: 768px) and (max-width: 991px) {
      .column .nav-tabs > li {
        width: 100%; } }
    .column .nav-tabs > li.active a {
      background: #ffffff; }
.column .tab-content {
  margin: 0;
  padding: 0 15px;
  background: #ffffff;
  overflow: hidden;
  border: 1px solid #c7c7c7;
  border-top: none;
  -moz-border-radius: 0 0 5px 5px;
  -webkit-border-radius: 0;
  border-radius: 0 0 5px 5px; }

/* Accordions */
.zaccordions {
  margin-bottom: 40px; }
  .zaccordions .panel {
    margin-bottom: -1px; }
    .zaccordions .panel .title_panel {
      font: 700 20px/26px "Roboto Condensed", sans-serif;
      text-transform: uppercase;
      padding: 10px 40px;
      padding-left: 20px;
      margin: 0;
      border: 1px solid #c7c7c7;
      color: #3d3d3d;
      background: transparent;
      position: relative;
      z-index: 1; }
      .zaccordions .panel .title_panel a {
        color: #3d3d3d; }
      .zaccordions .panel .title_panel a:after {
        content: "\f0da";
        font-family: "FontAwesome";
        position: absolute;
        right: 8px;
        padding: 0 5px;
        font-size: 17px; }
      .zaccordions .panel .title_panel.active {
        background: #ffffff; }
        .zaccordions .panel .title_panel.active a:after {
          content: "\f0d7"; }
      .zaccordions .panel .title_panel:after {
        display: none; }
    .zaccordions .panel.first-panel .title_panel {
      -moz-border-radius: 5px 5px 0 0;
      -webkit-border-radius: 5px;
      border-radius: 5px 5px 0 0; }
    .zaccordions .panel.last-panel .title_panel {
      -moz-border-radius: 0 0 5px 5px;
      -webkit-border-radius: 0;
      border-radius: 0 0 5px 5px; }
      .zaccordions .panel.last-panel .title_panel.active {
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0; }
  .zaccordions .fade.in {
    max-height: none; }
  .zaccordions .tab-content {
    margin-bottom: 30px; }
    .zaccordions .tab-content .slick-prev, .zaccordions .tab-content .slick-next {
      top: -59px; }
    .zaccordions .tab-content .slick-next {
      right: 50px; }
    .zaccordions .tab-content .slick-prev {
      right: 85px; }

.panel {
  box-shadow: none;
  border: none;
  background: none; }

.column .zaccordions {
  margin-bottom: 20px; }
  .column .zaccordions .panel .title_panel {
    font-size: 17px;
    padding-left: 15px; }
  .column .zaccordions .tab-content {
    margin: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0; }
  .column .zaccordions .panel.last-panel .tab-content {
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0;
    border-radius: 0 0 5px 5px; }

.h-block {
  margin-bottom: 20px; }

/* button */
.btn-default {
  display: inline-block;
  padding: 0 12px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  font-size: 14px;
  text-transform: uppercase;
  border: none;
  line-height: 35px;
  transition: all 0.3s; }
  .btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active {
    color: #ffffff;
    background-color: #3f6e51; }

.button.lnk_view:hover, .button.lnk_view:focus, .button.lnk_view:active, .button.lnk_view.active {
  color: #5d5d5d; }

.button.button-medium, .button.button-medium.exclusive {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }

/* Manufacturer */
.brand_base {
  padding: 2px 15px;
  text-align: center; }
  .brand_base .logo {
    overflow: hidden;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 1px 5px #c7c7c7;
    -webkit-box-shadow: 0px 1px 5px #c7c7c7;
    box-shadow: 0px 1px 5px #c7c7c7; }
    .brand_base .logo img {
      margin: auto; }
    .brand_base .logo a:hover img {
      opacity: 0.7; }
  .brand_base .middle-side {
    margin-top: 10px; }

.list-mode .brand_base {
  width: 20%;
  float: left;
  margin-bottom: 30px; }

/*  */
.ac_results {
  border: 1px solid #c7c7c7; }
  .ac_results li {
    padding: 5px 10px;
    white-space: nowrap; }

.tooltip-inner {
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

sup {
  top: -0.2em;
  font-size: 100%;
  color: red; }

.bx-wrapper {
  margin: 0px auto !important; }

.rte .banner1 {
  overflow: hidden;
  padding-bottom: 20px; }
  .rte .banner1 img {
    margin: 0 auto;
    transition: all 0.3s; }
    .rte .banner1 img:hover {
      opacity: 0.7; }
  .rte .banner1 span:first-of-type {
    font-size: 17px;
    font-weight: bold;
    float: left;
    line-height: 23px;
    color: #3d3d3d;
    text-transform: uppercase;
    margin-top: 15px; }
  .rte .banner1 span.btn-default {
    font-size: 14px;
    float: right;
    margin-top: 10px; }
.rte .banner2 {
  margin-bottom: 20px; }
  .rte .banner2 a {
    position: relative;
    display: block; }
    .rte .banner2 a:before {
      content: "";
      position: absolute;
      border: 1px solid #fd6282;
      right: 0;
      bottom: 0;
      left: 0;
      top: 0;
      visibility: hidden;
      transition: all 0.3s; }
    .rte .banner2 a:hover:before {
      visibility: visible;
      left: 15px;
      top: 15px;
      right: 15px;
      bottom: 15px; }
.rte .banner3 {
  margin-bottom: 20px;
  position: relative; }
  .rte .banner3:hover {
    background-color: #5a9e74; }
    .rte .banner3:hover img {
      opacity: 0.8; }
  .rte .banner3 a.btn-default {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translatey(-50%);
    min-width: 100px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s; }
  .rte .banner3:hover a.btn-default {
    visibility: visible;
    opacity: 1; }
.rte .banner4 {
  margin-bottom: 20px;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px 0 40px;
  text-align: center;
  /*.btn-default {
      background: $light-background;
      color: $base-text-color;
      box-shadow: 0 4px 0 $quaternary-color, 1px 3px 3px 0 rgba(0,0,0,.25);
      &:hover,
      &:focus,
      &:active,
      &.active {
          color: $btn-default-color;
          background-color: $btn-default-bg-hover;        
          box-shadow: 0 4px 0 $btn-cart-shadow-hover, 1px 3px 3px 0 rgba(0,0,0,.25);
      }
  }*/ }
  .rte .banner4 h1, .rte .banner4 h2, .rte .banner4 h3, .rte .banner4 h4, .rte .banner4 h5, .rte .banner4 h6 {
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase; }
  .rte .banner4 p {
    max-width: 800px;
    margin: 0 auto 20px; }
.rte .feature, .rte .feature2 {
  margin-bottom: 20px;
  padding: 25px 5%;
  text-align: center;
  border: 1px solid #c7c7c7;
  background: #ffffff;
  color: #5a9e74;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  transition: all 0.2s; }
  .rte .feature:hover, .rte .feature2:hover {
    background-color: #5a9e74;
    color: #ffffff;
    border-color: #5a9e74; }
  .rte .feature [class^="icon-"], .rte .feature2 [class^="icon-"] {
    font-size: 48px; }
  .rte .feature a, .rte .feature2 a {
    display: block;
    font-size: 18px;
    margin-top: 15px;
    color: inherit;
    line-height: 1.3em; }
.rte .feature2 {
  color: #fd6282; }
  .rte .feature2:hover {
    background-color: #fd6282;
    color: #ffffff;
    border-color: #fd6282; }

body.touchDevice .rte .banner4 {
  background-attachment: initial; }

div.selector, div.selector span {
  background: #ffffff; }

div.selector select {
  height: 33px; }

div.selector span {
  height: 33px;
  line-height: 33px;
  position: relative;
  color: #5d5d5d;
  min-width: 88px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  div.selector span:after {
    content: "\f0d7";
    font-family: "FontAwesome";
    position: absolute;
    right: 12px;
    top: 0;
    font-size: 14px; }

div.selector {
  min-width: 100px;
  line-height: 33px;
  height: 35px;
  border: 1px solid #c7c7c7;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

/*# sourceMappingURL=front.css.map */
